<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843487997093-p81tja2vvkgs9p7u5snutrngahr66or8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843487997093-p81tja2vvkgs9p7u5snutrngahr66or8</string>
	<key>API_KEY</key>
	<string>AIzaSyAL5Q_d1TSwNLlloNsuU15NcNOBrRXZnZI</string>
	<key>GCM_SENDER_ID</key>
	<string>843487997093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexdev.expostarter.development</string>
	<key>PROJECT_ID</key>
	<string>expo-starter-kit-b674c</string>
	<key>STORAGE_BUCKET</key>
	<string>expo-starter-kit-b674c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843487997093:ios:f35c71819da05cf8f9714c</string>
</dict>
</plist>